<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" media="all" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
<link rel="shortcut icon" href="http://im.ft-static.com/m/icons/favicon.ico" type="image/x-icon" />

<!-- Origami imports -->
<link rel="stylesheet" href="//build.origami.ft.com/bundles/css?modules=o-header@^3.0.6"/>
<script src="//build.origami.ft.com/bundles/js?modules=o-header@^3.0.6"></script>

<head>
    <title>You are not authorized</title>
</head>
<body>
<!-- FT Style Header - http://registry.origami.ft.com/components/o-header@3.0.6 -->
<header data-o-component="o-header" class="o-header">
    <div class="o-header__container">
        <div class="o-header__inner">
            <div class="o-header__primary">
                <div class="o-header__primary__left">
                    <div class="o-header__logo o-header__logo--ft">
                        <a href="http://www.ft.com/">
                            <abbr title="Financial Times">FT</abbr>
                        </a>
                        <a href="">
                            <h1 class="o-header__title">Sorry, you are not authorized</h1>
                        </a>
                    </div>
                </div>
                <div class="o-header__primary__center"><h2 class="o-header__tagline">
                    <!-- could add a secondary title here --></h2></div>
            </div>
        </div>
    </div>
</header>

</body>
</html>